<h1 class="main-heading">Stupid Coaching</h1>
<h2 class="sub-heading">Ask your coach anything:</h2>
<form action="/questions/answer" method="get" data-turbo="false" class="question-form">
  <input type="text" name="question" class="question-input" placeholder="Type your question here...">
  <input type="submit" value="Ask!" class="ask-button">
</form>
